<div style="position: relative;">
  <div class="p-grid switch-editing">
      <div class="p-col-8"></div>
      <span>Режим редактирования:</span>
      <p-inputSwitch (onChange)="handleChange($event)" [(ngModel)]="isEditMode"></p-inputSwitch>
  </div>

  <app-edit-book
    [labelButton]="labelButton"
    [header]="headerPanel"
    [message]="messageOnSuccessChange"
    [editableBook]="detailBook"
    [isDisabled]="isDisabledForChange"
    (onCompletedChangeBook)="onCompletedChangeBook($event)">
  </app-edit-book>    
</div>