<div class="form-container">
  <div class="switch-editing">
    <div>
      <span>Режим редактирования:</span>
      <p-inputSwitch (onChange)="handleChange($event)" [(ngModel)]="isEditMode"></p-inputSwitch>
    </div>
  </div>

  <app-edit-book
    [labelButton]="labelButton"
    [header]="headerPanel"
    [message]="messageOnSuccessChange"
    [editableBook]="detailBook"
    [isDisabled]="isDisabledForChange"
    (onCompletedChangeBook)="onCompletedChangeBook($event)">
  </app-edit-book>    
</div>