.card-wrapper .ui-card-body {
  padding-top: 0;
}

.flex-container .flex-card .card-wrapper .ui-card {
  height: 500px;
}

.empty-poster {
  width: 100%;
  height: 350px;
  position: relative;
  background: #fff;
  color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.edit-container .poster-wrapper .pi.icon {
  display: none;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  font-size: 7em; 
  text-align: center;
  margin-top: -0.5em;
  margin-left: -0.5em;
}

.empty-poster>span {
  position: absolute;              
  top: 50%; 
  left: 50%;                       
  transform: translate(-50%, -50%);
}

body .rating-wrapper .ui-rating a .ui-rating-icon {
  font-size: 1.5em;
}

body .rating-wrapper .ui-rating a {
  color:rgb(250, 235, 98);
}

@media (max-width: 1200px) { 
  .edit-container .poster-wrapper .pi.icon {
    font-size: 5em; 
  }
}

@media (max-width: 470px) { 
  .edit-container .poster-wrapper .pi.icon {
    font-size: 3em; 
  }
}